
.root,
html{
    --background-black: #f7f7f7;
    --background-gray: #8a8a8a;
    --shadow: #dfdfdf;
    
    --error: #CF6679;
    
    --success: #5CDB95;
    --primary-variant: #05386B;
    --secondary: #379683;

    --page_background: white;



    /*--action: #ED265D;*/

    --action: rgb(59, 147, 255);
    --action1: rgb(80, 253, 224);
    --action2: rgb(224, 100, 255);

    --pastel_purple: #C48D9D;
    --pastel_orange: #E8A97C;
    --pastel_blue: #85CCC9;
    --pastel_red: #E27C5F;
    
    font-size: 16px;

    --min-width: 900px;
}